<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>

<h1>Read More</h1>

<!-- Display details of the selected animal -->
<% if (selectedAnimal) {  %>
<h2>Name: <%= selectedAnimal.name %></h2>
 <img class="animal-img" src="<%= selectedAnimal.smallimg %>">
<p>Lifespan: <%= selectedAnimal.lifespan %></p>
<p>Lifespan: <%= selectedAnimal.description %></p>
<%  } %>
</body>
</html>